<header class="custom-navbar shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark container px-3">
    <!-- BRAND -->
    <a class="navbar-brand fw-semibold" href="#" onclick="goHome(event)">
      Carbon Monitoring
    </a>

    <!-- TOGGLER -->
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- MENU -->
      <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
        <li class="nav-item admin-only">
          <a class="nav-link" href="main.html">Project</a>
        </li>

        <li class="nav-item admin-only">
          <a class="nav-link" href="analysis.html">Analysis</a>
        </li>

        <li class="nav-item admin-only">
          <a class="nav-link" href="surveyors.html">Surveyor</a>
        </li>

        <li class="nav-item admin-only">
          <a class="nav-link" href="tree_species.html">Species</a>
        </li>

        <li class="nav-item surveyor-only">
          <a class="nav-link" href="surveyor_main.html">Project</a>
        </li>
      </ul>

      <!-- USER -->
      <div class="user-section">
        <span id="userInfo" class="user-name"></span>

        <button class="btn btn-sm btn-light ms-2" onclick="logout()">
          Logout
        </button>
      </div>
    </div>
  </nav>
</header>
